html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

html.dark {
  background: #121212;
  color-scheme: dark;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgba(244, 114, 182, 1) !important;
  box-shadow: 1px 1px 2px #ff6699, 0 0 25px red, 0 0 5px #ff6699;
  opacity: 1;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
