
@keyframes lazy_blur {
  0% {
    filter: blur(5px);
  }
  100% {
    filter: blur(0);
  }
}
@-webkit-keyframes lazy_blur {
  0% {
    filter: blur(5px);
  }
  100% {
    filter: blur(0);
  }
}
@keyframes pinkZoomInUp {
  0% {
    transform: scale3d(.9, .9, 1) translateY(10%);
  }
  to {
    opacity: 1;
    transform: scaleX(1);
  }
}
@-webkit-keyframes pinkZoomInUp {
  0% {
    transform: scale3d(.9, .9, 1) translateY(10%);
  }
  to {
    opacity: 1;
    transform: scaleX(1);
  }
}
@keyframes pinkZoomOutDown {
  0% {
    opacity: 1;
    transform: scaleX(1);
  }
  to {
    transform: scale3d(.9, .9, 1) translateY(10%);
  }
}
@-webkit-keyframes pinkZoomOutDown {
  0% {
    opacity: 1;
    transform: scaleX(1);
  }
  to {
    transform: scale3d(.9, .9, 1) translateY(10%);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    display: block;
  }
  0% {
    opacity: 0;
    display: none;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    display: block;
  }
  0% {
    opacity: 0;
    display: none;
  }
}
@keyframes fadeOut30 {
  0% {
    opacity: 1;
    display: block;
  }
  to {
    opacity: 0;
    display: none;
  }
}
@-webkit-keyframes fadeOut30 {
  0% {
    opacity: 1;
    display: block;
  }
  to {
    opacity: 0;
    display: none;
  }
}
@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 15deg);
    transformOrigin: top center;
  }
  40% {
    transform: rotate3d(0, 0, 1, 10deg);
    transformOrigin: top center;
  }
  60% {
    transform: rotate3d(0, 0, 1, 5deg);
    transformOrigin: top center;
  }
  80% {
    transform: rotate3d(0, 0, 1, -5deg);
    transformOrigin: top center;
  }
  to {
    transform: rotate3d(0, 0, 1, 0deg);
    transformOrigin: top center;
  }
}
@-webkit-keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 15deg);
    transformOrigin: top center;
  }
  40% {
    transform: rotate3d(0, 0, 1, 10deg);
    transformOrigin: top center;
  }
  60% {
    transform: rotate3d(0, 0, 1, 5deg);
    transformOrigin: top center;
  }
  80% {
    transform: rotate3d(0, 0, 1, -5deg);
    transformOrigin: top center;
  }
  to {
    transform: rotate3d(0, 0, 1, 0deg);
    transformOrigin: top center;
  }
}
@keyframes jello {
  from, 11.1% to {
    transform: translate3d(0, 0, 0);
  }
  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }
  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg);
  }
  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }
  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }
  66.6% {
    transform: skewX(-.78125deg) skewY(-.78125deg);
  }
  77.7% {
    transform: skewX(.390625deg) skewY(.390625deg);
  }
  88.8% {
    transform: skewX(-.1953125deg) skewY(-.1953125deg);
  }
  0% {
    transform: none;
  }
  11.1% {
    transform: none;
  }
  to {
    transform: none;
  }
}
@-webkit-keyframes jello {
  from, 11.1% to {
    transform: translate3d(0, 0, 0);
  }
  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }
  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg);
  }
  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }
  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }
  66.6% {
    transform: skewX(-.78125deg) skewY(-.78125deg);
  }
  77.7% {
    transform: skewX(.390625deg) skewY(.390625deg);
  }
  88.8% {
    transform: skewX(-.1953125deg) skewY(-.1953125deg);
  }
  0% {
    transform: none;
  }
  11.1% {
    transform: none;
  }
  to {
    transform: none;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    display: block;
  }
  0% {
    opacity: 0;
    display: none;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    display: block;
  }
  0% {
    opacity: 0;
    display: none;
  }
}
@keyframes pinkTipZoomInUp {
  0% {
    transform: scale3d(.95, .95, 1) translateY(2%);
  }
  to {
    opacity: 1;
    transform: scaleX(1);
  }
}
@-webkit-keyframes pinkTipZoomInUp {
  0% {
    transform: scale3d(.95, .95, 1) translateY(2%);
  }
  to {
    opacity: 1;
    transform: scaleX(1);
  }
}
@keyframes pinkTipZoomOutDown {
  0% {
    opacity: 1;
    transform: scaleX(1);
  }
  to {
    transform: scale3d(.95, .95, 1) translateY(2%);
  }
}
@-webkit-keyframes pinkTipZoomOutDown {
  0% {
    opacity: 1;
    transform: scaleX(1);
  }
  to {
    transform: scale3d(.95, .95, 1) translateY(2%);
  }
}
@keyframes lazy_back_blur {
  0% {
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
  }
  100% {
    -webkit-backdrop-filter: blur(0);
            backdrop-filter: blur(0);
  }
}
@-webkit-keyframes lazy_back_blur {
  0% {
    -webkit-backdrop-filter: blur(8px);
            backdrop-filter: blur(8px);
  }
  100% {
    -webkit-backdrop-filter: blur(0);
            backdrop-filter: blur(0);
  }
}
@keyframes rotating {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotating {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.animate-lazyloaded {
  -webkit-animation: lazy_blur 0.8s;
  animation: lazy_blur 0.8s;
}
.animate-pinkZoomInUp30 {
  -webkit-animation: pinkZoomInUp 0.3s normal 1 forwards;
  animation: pinkZoomInUp 0.3s normal 1 forwards;
}
.animate-pinkZoomOutDown30 {
  -webkit-animation: pinkZoomOutDown 0.3s normal 1 forwards;
  animation: pinkZoomOutDown 0.3s normal 1 forwards;
}
.animate-fadeIn30 {
  -webkit-animation: fadeIn 0.3s normal 1 forwards;
  animation: fadeIn 0.3s normal 1 forwards;
}
.animate-fadeOut30 {
  -webkit-animation: fadeOut30 0.3s normal 1 forwards;
  animation: fadeOut30 0.3s normal 1 forwards;
}
.hover\:animate-swing30:hover {
  -webkit-animation: swing 0.3s normal 2;
  animation: swing 0.3s normal 2;
}
.hover\:animate-jello100:hover {
  -webkit-animation: jello 1s normal 1 forwards;
  animation: jello 1s normal 1 forwards;
}
.hover\:animate-fadeIn30:hover {
  -webkit-animation: fadeIn 0.3s normal 1 forwards;
  animation: fadeIn 0.3s normal 1 forwards;
}
.animate-pinkTipZoomInUp30 {
  -webkit-animation: pinkTipZoomInUp 0.3s normal 1 forwards;
  animation: pinkTipZoomInUp 0.3s normal 1 forwards;
}
.animate-pinkTipZoomOutDown30 {
  -webkit-animation: pinkTipZoomOutDown 0.3s normal 1 forwards;
  animation: pinkTipZoomOutDown 0.3s normal 1 forwards;
}
.animate-spinlazyloaded {
  -webkit-animation: lazy_back_blur 0.5s;
  animation: lazy_back_blur 0.5s;
}
.animate-rotating {
  -webkit-animation: rotating 1.2s linear infinite;
  animation: rotating 1.2s linear infinite;
}