<script lang="ts" setup{{#if isGlobal}} name="{{ properCase name }}" {{/if}}>
</script>

<template>
	<!-- {{ properCase name }} -->
    <div>
    </div>
</template>

<style lang="less" scoped>

</style>