/* ./src/index.css */
@tailwind base;
/* @tailwind components; */
@tailwind utilities;

@font-face {
  font-family: 'Blimone';
  src: local('Blimone'), url(../src/assets/fonts/Blimone-Light.woff);
}

#nprogress .bar {
    background: rgba(244, 114, 182, 1) !important;
}

::-webkit-scrollbar
{
    width:10px;
    height:10px;
    background-color:hsla(0, 0%, 100%, 0);
}
/*定义滚动条轨道
 内阴影+圆角*/
::-webkit-scrollbar-track
{
  border-radius:10px;
    background-color:rgba(0, 0, 0, 0.049);
}
/*定义滑块
 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
    border-radius:10px;
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);
    background-color:rgba(244, 114, 182, 1);
}
