# 仅仅初始化server使用
basicConfig:
  mode: "dev"
  host: "pinkmoe.com"
  adminHost: "admin.pinkmoe.com"
  logConfig:
    level: "debug"
    filename: "logs/pinkMoe.log"
    maxSize: 100
    maxAge: 30
    maxBackups: 10

# 本站数据库配置
mysqlConfig:
  host: "223.3.3.10"
  port: 3306
  user: "root"
  password: "pinkmoe"
  dbname: "pinkMoe"
  config: "charset=utf8mb4&parseTime=True&loc=Local"
  maxOpenConns: 0
  maxIdleConns: 0

redisConfig:
  host: "223.3.3.11"
  port: 6379
  password: ""
  db: 0
  poolSize: 200